.text-format {
    text-align: center;
   
}

.button {
    margin-right: 10px;
    background-color: bisque;
    /* position:absolute; */
    justify-content: center;
    justify-items: center;
}

li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 25px;
    /* border-collapse: separate; */
    margin-left: 10px;
    margin-top: 10px;
}

.m {
    background-color: aqua;
}

.f {
    background-color: pink;
}


/* ul {
    list-style-type: none;
    display: inline;
    text-align: center;
    width: 50px;
} */

.Main{
  
   margin-left: auto;
    margin-right: auto;
   width: 1000px;
   justify-content: center;
   height: 1000px;
  
   height:auto;
   margin-top: 50px;
}